<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'home'}}active{{/ifCond}}" href="/objectives">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'feed'}}active{{/ifCond}}" href="/objectives/feed">News Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topTenObjective'}}active{{/ifCond}}" href="/objectives/topTen">Top 10 Objective</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topTenFollow'}}active{{/ifCond}}" href="/follow/topTen">Top 10 Follow</a>
  </li>
</ul>