<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'home'}}active{{/ifCond}}" href="/objectives">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'newsFeed'}}active{{/ifCond}}" href="/newsfeed/objectives&comments">News Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topTenObjectives'}}active{{/ifCond}}" href="/topten/objectives">Top 10 Objective</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topTenFollowings'}}active{{/ifCond}}" href="/topten/followings">Top 10 Follow</a>
  </li>
</ul>