<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'home'}}active{{/ifCond}}" href="/forum/objectives">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'feed'}}active{{/ifCond}}" href="/forum/feed/objectives&comments">Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'popularObjectives'}}active{{/ifCond}}" href="/forum/popular/objectives">Top 10
      Objective</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'popularFollowings'}}active{{/ifCond}}" href="/forum/popular/followings">Top 10
      Follow</a>
  </li>
</ul>