<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Sign Up</h1>
</div>
<form class="form-signup" action="/forum/account/signup" method="POST" style="width: 100%;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="email">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password"
      required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
      placeholder="Enter your password again" required>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>
<div class="mb-4 text-center">
  <p><a href="/forum/account/signin">Sign In</a></p>
</div>